h1 {
  font-family: Arial;
}

.hashtable-image {
  width: 550px;
  padding-left: 4vw;
}

.hashtable-actions {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  background-color: #799dbb;
}

.action-title {
  top: 5px;
  width: 200px;
  height: 30px;
  margin-left: 4vw;
  margin-top: 0.5vh;
  text-align: center;
  font-family: Arial;
  font-size: 20px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #404040;
}

.action-title:hover {
 background-color: #FF8B24;
}

.action-section {
  margin-top: 2vh;
}

.hashtable-resources {
  margin-top: 47px;
}

.hashtable-discussion{
  margin: 0 auto;
  width: 800px;
}

.hashtable-discussion-box {
  margin: 0 auto;
  width: 700px;
  height: 260px;
}

.comments-box {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 10px;
}