.discussion {
  padding-left: 4vw;
}

.comments {
  font-size: 18px;
  padding-left: 4vw;
}

.code {
  padding-top: 6vh;
  padding-left: 4vw;
}

.discussion-title {
  width: 166px;
  height: 29px;
  margin-top: 10vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  text-align: center;
  font-family: Arial;
  font-size: 20px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #000000;
}