.code-section {
  width: 520px;
  height: 321px;
}

.code-title {
  width: 250px;
  height: 45px;
  margin-top: 14vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  text-align: center;
  font-family: Arial;
  font-size: 30px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #000000;
}