.code-section {
  width: 600px;
  height: 300px;
}

.code-title {
  width: 166px;
  height: 29px;
  margin-top: 6vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  text-align: center;
  font-family: Arial;
  font-size: 20px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #000000;
}

.code-text {
  margin-left: 4vw;
}

.indent {
  margin-left: 20px;
}

.double-indent {
  margin-left: 40px;
}

.triple-indent {
  margin-left: 60px;
}

.quad-indent {
  margin-left: 80px;
}