h2 {
  font-family: Arial;
}

body {
  background-color: #EEEEEE;
}

.menu-bar {
  height: 10vh;
  line-height: 10vh; /* vert. center text hack */
  padding-left: 3vw;
  padding-right: 4vw;
  background-color: #333333;
  color: #FFFFFF;
  text-transform: uppercase;
}

.title {
  margin-left: 2vw;
  font-family: Arial;
  font-size: 35px;
}

.login {
  font-family: Arial;
  text-align: right;
  font-size: 30px;
  float: right;
}

.logo {
  height: 10vh;
}

.dataStructureTitle {
  width: 200px;
  height: 40px;
  margin-top: 5vh;
  margin-left: 4vw;
  margin-bottom: 3vh;
  text-align: center;
  font-family: Arial;
  font-size: 25px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #000000;
}
