.data-structure-buttons {
  width: 300px;
  height: 225px;
  padding: 50px;
  border: 5px black;
  background: #FFFFFF;
  margin: 30px;

}

.data-buttons-section {
  width: 1300px;
  top: 30vh;
  margin: auto;
  
}