.sign-up {
  height: 320px;
  width: 320px;
  margin: auto;
}

.btn-primary {
  color: white;
}

.sign-up-button {
  color: #FFFFFF;
}

.sign-up-button:hover {
  color: #EEEEEE;
}

.sign-up-box {
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10vh;
  background-color: white;
  border-radius: 10px;
  top: 18%;
  position: relative;
  box-shadow: 0px 0px 4px #aaaaaa;
}

.welcome {
 text-align: center;
 margin-bottom: 5vh;

}

.form-box {
  margin: 0 auto;
  height: 40px;
  width: 300px;
}

.register-button {
  margin-top: 2vh;
  width: 300px;
}

.form-box {
  margin: 0 auto;
}