h1 {
  font-family: Arial;
}

.linkedlist-image {
  width: 550px;
  padding-left: 4vw;
}

.linkedlistactions {
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  background-color: #799dbb;
}

.action-title {
  top: 5px;
  width: 200px;
  height: 30px;
  margin-left: 4vw;
  margin-top: 0.5vh;
  text-align: center;
  font-family: Arial;
  font-size: 20px; 
  border-style:none;
  color: #FFFFFF;
  background-color: #404040;
}

.action-title:hover {
 background-color: #FF8B24;
}

.action-section {
  margin-top: 2vh;
}

.linkedlist-animation-background {
  box-shadow: 0px 0px 3px #5F5F5F;
  background: #4A65BC;
}

.linked-list-ht {
  font-size: 16px;
}